Building a Neural network

In [3]:
import torch
import torch.nn as nn   
import torch.optim as optim

In [ ]:
##funcational api

class SimpleNN(nn.Module):
    def __int__(self,input_size,hidden_size, output_size):
        super(SimpleNN,self).__int__()
        
        self.fc1 = nn.Linear(input_size,hidden_size)
        
        
        self.relu = nn.ReLU() 
        
        self.fc2 =nn.Linear(hidden_size,output_size)
        
    def forward(self,x):
        x = self.fc1(x)
        x = self.relu(x)
        x = self.fc2(x)
        return

In [5]:
##sequentrail api

class SimpleNNSequentail(nn.Module):
    def __int__(self,input_size,hidden_size, output_size):
        super(SimpleNN,self).__int__()
        self.network = nn.Sequential(
            nn.Linear(input_size,hidden_size),
            nn.Relu(),
            nn.Linear(hidden_size,output_size)
        )
    def forward(self,x):
        return  self.network(x)

In [7]:
sample = SimpleNN(input_size=4,hidden_size=8,output_size=3)
print(sample)

TypeError: SimpleNN.__init__() got an unexpected keyword argument 'input_size'

In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('insurance.csv')

In [3]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [6]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [7]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [7]:
import torch 
import pandas as pd
import torch.nn as nn
import torch.optim as optim
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.model_selection import train_test_split

In [8]:
df= pd.read_csv('insurance.csv')

In [9]:
train_df,test_df= train_test_split(df,test_size=0.2,random_state= 42)

In [10]:
label_encder = {}
for col in['sex','smoker','region']:
    le = LabelEncoder()
    train_df[col]= le.fit_transform(train_df[col])
    test_df[col] = le.transform(test_df[col])
    label_encder[col] = le

In [12]:
x_train = train_df.drop(columns=['charges'])

y_train = train_df['charges']

x_test = train_df.drop(columns=['charges'])

y_test = train_df['charges']

In [13]:
x_train.head()

      age  sex    bmi  children  smoker  region
560    46    0  19.95         2       0       1
1285   47    0  24.32         0       0       0
1142   52    0  24.86         0       0       2
969    39    0  34.32         5       0       2
486    54    0  21.47         3       0       1

In [14]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test= scaler.transform(x_test)

In [34]:
x_train_tensor = torch.tensor(x_train,dtype= torch.float32)
y_train_tensor = torch.tensor(y_train.values,dtype= torch.float32).view(-1,1)
x_test_tensor = torch.tensor(x_test,dtype= torch.float32)
y_test_tensor = torch.tensor(y_test.values,dtype= torch.float32).view(-1,1)

In [35]:
class SimpleNNRegressionModel(nn.Module):
    def __init__(self,input_dim):
        super(SimpleNNRegressionModel,self).__init__()
        self.network = nn.Sequential(
            nn.Linear(input_dim,64),
            nn.ReLU(),
            nn.Linear(64,128),
            nn.ReLU(),
            nn.Linear(128,1)
            
            
        )
    def forward(self,x):
        
        return self.network(x)

In [36]:
inuput_dim = x_train_tensor.shape[1]

model = SimpleNNRegressionModel(inuput_dim)

In [37]:
criterion = nn.MSELoss()
optimizer = optim.Adam(model.parameters(), lr=0.01)

In [38]:

epochs = 10000
for epoch in range(epochs):
    model.train()
    optimizer.zero_grad()
    pred = model(x_train_tensor)
    loss = criterion(pred,y_train_tensor)
    loss.backward()
    optimizer.step() 
    
    if (epoch+1)%100 ==0:
        print(f"Epoch [{epoch+1}/{epoch}],loss:{loss.item():4f}")

Epoch [100/99],loss:46573116.000000
Epoch [200/199],loss:31966476.000000
Epoch [300/299],loss:29386370.000000
Epoch [400/399],loss:27379974.000000
Epoch [500/499],loss:26226246.000000
Epoch [600/599],loss:25469660.000000
Epoch [700/699],loss:24929524.000000
Epoch [800/799],loss:24468098.000000
Epoch [900/899],loss:24025218.000000
Epoch [1000/999],loss:23641606.000000
Epoch [1100/1099],loss:23300084.000000
Epoch [1200/1199],loss:23023530.000000
Epoch [1300/1299],loss:22806124.000000
Epoch [1400/1399],loss:22619886.000000
Epoch [1500/1499],loss:22459352.000000
Epoch [1600/1599],loss:22337712.000000
Epoch [1700/1699],loss:22204998.000000
Epoch [1800/1799],loss:22049350.000000
Epoch [1900/1899],loss:21879868.000000
Epoch [2000/1999],loss:21694486.000000
Epoch [2100/2099],loss:21501318.000000
Epoch [2200/2199],loss:21295362.000000
Epoch [2300/2299],loss:21096178.000000
Epoch [2400/2399],loss:20888944.000000
Epoch [2500/2499],loss:20645748.000000
Epoch [2600/2599],loss:20346822.000000
Epoch [2700/2699],loss:20002570.000000
Epoch [2800/2799],loss:19450228.000000
Epoch [2900/2899],loss:18606928.000000
Epoch [3000/2999],loss:17797246.000000
Epoch [3100/3099],loss:17096244.000000
Epoch [3200/3199],loss:16525103.000000
Epoch [3300/3299],loss:16079950.000000
Epoch [3400/3399],loss:15741378.000000
Epoch [3500/3499],loss:15420241.000000
Epoch [3600/3599],loss:15127752.000000
Epoch [3700/3699],loss:14789953.000000
Epoch [3800/3799],loss:14451188.000000
Epoch [3900/3899],loss:14069024.000000
Epoch [4000/3999],loss:13769724.000000
Epoch [4100/4099],loss:13519478.000000
Epoch [4200/4199],loss:13287324.000000
Epoch [4300/4299],loss:13048138.000000
Epoch [4400/4399],loss:12832553.000000
Epoch [4500/4499],loss:12623555.000000
Epoch [4600/4599],loss:12369440.000000
Epoch [4700/4699],loss:12123439.000000
Epoch [4800/4799],loss:11877081.000000
Epoch [4900/4899],loss:11664963.000000
Epoch [5000/4999],loss:11474159.000000
Epoch [5100/5099],loss:11292363.000000
Epoch [5200/5199],loss:11077754.000000
Epoch [5300/5299],loss:10900183.000000
Epoch [5400/5399],loss:10731338.000000
Epoch [5500/5499],loss:10566206.000000
Epoch [5600/5599],loss:10431120.000000
Epoch [5700/5699],loss:10262444.000000
Epoch [5800/5799],loss:10130931.000000
Epoch [5900/5899],loss:10003823.000000
Epoch [6000/5999],loss:9893198.000000
Epoch [6100/6099],loss:9760264.000000
Epoch [6200/6199],loss:9593963.000000
Epoch [6300/6299],loss:9459915.000000
Epoch [6400/6399],loss:9336329.000000
Epoch [6500/6499],loss:9245549.000000
Epoch [6600/6599],loss:9147257.000000
Epoch [6700/6699],loss:9074970.000000
Epoch [6800/6799],loss:8998676.000000
Epoch [6900/6899],loss:8935194.000000
Epoch [7000/6999],loss:8870282.000000
Epoch [7100/7099],loss:8800949.000000
Epoch [7200/7199],loss:8733015.000000
Epoch [7300/7299],loss:8672043.000000
Epoch [7400/7399],loss:8611716.000000
Epoch [7500/7499],loss:8549810.000000
Epoch [7600/7599],loss:8488515.000000
Epoch [7700/7699],loss:8436349.000000
Epoch [7800/7799],loss:8383074.500000
Epoch [7900/7899],loss:8334493.000000
Epoch [8000/7999],loss:8282848.000000
Epoch [8100/8099],loss:8240041.000000
Epoch [8200/8199],loss:8188963.500000
Epoch [8300/8299],loss:8133314.500000
Epoch [8400/8399],loss:8084425.500000
Epoch [8500/8499],loss:8019282.000000
Epoch [8600/8599],loss:7956306.500000
Epoch [8700/8699],loss:7895880.000000
Epoch [8800/8799],loss:7835549.000000
Epoch [8900/8899],loss:7762759.000000
Epoch [9000/8999],loss:7711841.500000
Epoch [9100/9099],loss:7641649.000000
Epoch [9200/9199],loss:7582122.500000
Epoch [9300/9299],loss:7523270.000000
Epoch [9400/9399],loss:7459189.500000
Epoch [9500/9499],loss:7398805.000000
Epoch [9600/9599],loss:7336754.000000
Epoch [9700/9699],loss:7278261.000000
Epoch [9800/9799],loss:7224790.500000
Epoch [9900/9899],loss:7152772.500000
Epoch [10000/9999],loss:7081446.000000

In [33]:
model.eval()
y_pred = model(x_test_tensor).detach().numpy()

In [39]:
from sklearn.metrics import mean_squared_error, mean_absolute_error,r2_score

y_test_numpy = y_test_tensor.numpy()

mse = mean_squared_error(y_test_numpy,y_pred)

rmse = mse**0.05

mae = mean_absolute_error(y_test_numpy,y_pred)

r2score = r2_score(y_test_numpy,y_pred)


print(f"Mse : {mse}")


print(f"rmse : {rmse} ")

print(f"Mae : {mae}")

print(f"r2 Score : {r2score}")

Mse : 6789626.0
rmse : 2.1957975319931653
Mae : 1684.22802734375
r2 Score : 0.9529588077763622

In [40]:
def prdeict_charges(age,sex,bmi,children,smoker,region):
    input_data= pd.DataFrame([[age,sex,bmi,children,smoker,region]],
                             columns = ['age','sex','bmi','children','smoker','region'])
    
    
    for  col in ['sex','smoker','region']:
        input_data[col]= label_encder[col].transform(input_data[col])
        
    input_data = scaler.transform(input_data)
    input_tensor = torch.tensor(input_data,dtype = torch.float32)
    pred = model(input_tensor).item()
    return pred

In [41]:
pg = prdeict_charges(19,'female',27.9,0,'yes','southwest')

In [43]:
print(f"predicted insurance charges: {pg:.2f}")

predicted insurance charges: 16207.21

In [ ]:
##understanding components of the data model